body {
    font-family: Arial, sans-serif;
    background-color: #f5f8fa;
    margin: 0;
    padding: 0;
}

.white-bg {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 900px;
    margin: 40px auto 40px auto;
    padding: 20px 20px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f8fa;
}
h2 {
    color: #e62a0d;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}


table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: white;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

th:first-child {
    border-top-left-radius: 10px;
}
th:last-child {
    border-top-right-radius: 10px;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

table, th, td {
    border: 1px solid #dcdcdc;
}

th, td {
    padding: 12px;
    text-align: left;
    background-color: #fff;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #2980b9;
}

.delete-btn {
    background-color: #e74c3c;
}

.delete-btn:hover {
    background-color: #c0392b;
}

input[type=text], input[type=number], input[type=password] {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
}

#popupForm {
    display: none;
    position: fixed;
    top: 20%;
    left: 35%;
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#popupForm h3 {
    margin-top: 0;
}

.form-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.error {
    color: red;
    font-size: 14px;
}
